.app-header {
    position: sticky;
    top: 0;
    padding: 0.44em 1em 0.44em 1em;
    color: var(--clr1bg);
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.app-header .nav-links {
    display: none;
}
.app-header :last-child {
    align-self: center;
    justify-self: end;
}
.app-header .btn-sidebar {
    /* margin-inline-end: 0.5em; */
    display: none;
}
.search-header {
}
.nav-links {
    color: var(--gray2);
}
.nav-links > *:not(:last-of-type) {
    margin-inline-end: 1em;
}
@media (min-width: 550px) {
    .app-header {
        position: sticky;
        top: 0;
        padding: 0.44em 2em 0.44em 0;
        color: var(--clr1bg);
        z-index: 2;
        display: grid;
        align-content: center;
        grid-template-columns: calc(3em + 0.5em) minmax(max-content, 1fr) 3fr 2fr;
    }
    .app-header .btn-sidebar {
        display: inline-flex;
    }
    .app-header .nav-links {
        display: inline-flex;
    }
    .hamburger-nav {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .search-header {
        width: 45vw;
    }
    .hamburger-nav {
        position: relative;
    }
    .hamburger-nav-open {
        padding: 1rem;
        right: 0;
        position: absolute;
        background: var(--clrbg-light-a);
        backdrop-filter: blur(12px);
        box-shadow: 0 20px 30px -20px var(--clrbg);
        /* background: white; */
    }
    .hamburger-nav-open ul {
        display: flex;
    }
    .hamburger-nav-open ul li span {
        padding-right: 1rem;
    }
    .hamburger-nav-open ul li button {
        text-align: center;
        padding: 1rem 1.5rem !important;
    }
}
