.app-header {
  position: sticky;
  top: 0;
  padding: 0.44em 1.2em;
  background-color: var(--clrbg-light);
  color: var(--clr1bg);
  box-shadow: 0px 0px 10px -5px var(--gray3);
  z-index: 2;
}
.nav-links {
  color: var(--gray2);
}
.nav-links > *:not(:last-of-type) {
  margin-inline-end: 1em;
}

@media (max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}
