.app-header {
  position: sticky;
  top: 0;
  padding: 0.44em 2em 0.44em 0;
  color: var(--clr1bg);
  z-index: 2;
  display: grid;
  align-content: center;
  grid-template-columns: calc(3em + 0.5em) minmax(max-content, 1fr) 3fr 2fr;
}
.app-header :last-child {
  align-self: center;
  justify-self: end;
}
.app-header :first-child {
  /* margin-inline-end: 0.5em; */
}
.nav-links {
  color: var(--gray2);
}
.nav-links > *:not(:last-of-type) {
  margin-inline-end: 1em;
}

@media (max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}
