.search-header {
  position: relative;
}
.search-header input {
  max-width: 720px;
  padding: 0.65em 2em;
  background-color: var(--clrbg-a);
}
.search-header input:focus {
  background-color: var(--clr2);
}
.search-options {
  width: 100%;
  padding: 1em 2em;
  background-color: var(--clr2);
  position: absolute;
  border-radius: 0 0 var(--br-l) var(--br-l);
  box-shadow: 0px 30px 30px 20px var(--clrbg-a);
}
.header-search-input.open {
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: var(--br-l) var(--br-l) 0 0;
}
