/* open */
.side-bar {
  transition: background-color 0.3s, padding 0.25s 0.05s, width 0.45s;
  width: 3em;
  margin-inline-end: 0.5em;
}
.side-bar.open {
  padding-left: 0;
  padding-right: 0.5em;
  width: 160px;
}

.side-bar.open .icon-label {
  border-radius: 0 3em 3em 0;
  transition: border-radius 0.25s;
}
.side-bar nav ul > *:not(:last-child) {
  margin-bottom: 1px;
}
.side-bar nav ul .icon-label {
  border-radius: 3em 3em 3em 3em;
  cursor: pointer;
  /* padding: 1em 2em; */
  transition: border-radius 0.25s 0.15s, background-color 0.15s;
}
.side-bar nav ul .icon-label {
  /* position: relative; */
  /* display: flex; */
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: max-content;
}
.icon-label button {
  position: relative;
}
.icon-label i {
  transition: 0.25s 0.15s color;

  /* font-size: 1.25em; */
}
.side-bar .icon-label:hover {
  background-color: var(--clrbg-light);
}
.side-bar .icon-label:hover i {
  color: var(--clr-txt);
}
.icon-label i:not(.active) {
  color: var(--clr2);
}

.icon-label.active {
  color: var(--clr-txt);
  background-color: var(--clr1-a) !important;
}
.icon-label.active button {
  background-color: transparent !important;
}
.icon-label.active i {
  color: var(--clr-txt);
}
