.side-bar {
  padding: 3em 0em;
  padding-right: 1em;
  background-color: var(--clrbg-light-a);
  box-shadow: 0px 0px 10px -5px var(--gray3);
}
.side-bar nav ul > *:not(:last-child) {
  margin-bottom: 0.25em;
}
.side-bar nav ul .icon-label {
  cursor: pointer;
  padding: 1em 2em;
  transition: background-color 0.3s;
  border-radius: 0 3em 3em 0;
}
.side-bar nav ul .icon-label {
  position: relative;
}
.icon-label i {
  transition: 0.25s 0.15s color;
}
.side-bar .icon-label:hover {
  background-color: var(--clrbg);
}
.side-bar .icon-label:hover i {
  color: var(--clr-txt);
}
.icon-label i:not(.active) {
  color: var(--clr2);
}

.icon-label.active {
  color: var(--clr-txt);
  background-color: var(--clr1-a);
}
.icon-label.active i {
  color: var(--clr-txt);
}

/* open */
.side-bar {
  transition: width 0.35s;
  width: 80px;
}
.side-bar.open {
  width: 220px;
}
.side-bar.open span.sidebar-item-txt {
  transition: 0.3s opacity 0.05s;
  pointer-events: auto;
  opacity: 1;
}
span.sidebar-item-txt {
  transition: 0.1s opacity;
  position: absolute;

  margin: auto;
  opacity: 0;
  pointer-events: none;
}
