.home-index {
  padding: 2em;
}

.home-index .main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home-index h5 {
  color: var(--clr-txt-m);
}

.home-index .card {
  background-color: var(--clrbg-light-a);
  background: var(--clrbg-a);
  backdrop-filter: blur(4px);
  box-shadow: 0px 30px 20px -20px var(--clrbg-light-a);
  border: 1px solid var(--clrbg-light);
  border-radius: var(--br-l);
  padding: 0.8em 1.2em;
  display: inline-flex;
  margin: 0 1rem 1rem 0;
  min-height: 350px;
  position: relative;
  border: 1px solid #ffffff26;
  transition: 0.8s background, 0.8s color;
  flex-direction: column;
  color: var(--clr-txt-m);
}
.home-index .main-content {
  padding: 4rem;
}

.card h4 {
  color: white;
}
