.home-index {
    padding: 2em;
}

.home-index .main-content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.home-index h5 {
    color: var(--clr-txt-m);
}

.home-index .card {
    background-color: var(--clrbg-light-a);
    background: var(--clrbg-a);
    backdrop-filter: blur(4px);
    box-shadow: 0px 30px 20px -20px var(--clrbg-light-a);
    border: 1px solid var(--clrbg-light);
    border-radius: var(--br-l);
    padding: 0.8em 1.2em;
    display: inline-flex;
    margin: 0 1rem 1rem 0;
    position: relative;
    border: 1px solid #ffffff26;
    transition: 0.8s background, 0.8s color;
    flex-direction: column;
    color: var(--clr-txt-m);
    width: 100%;
    height: 90%;
}
.home-index .main-content {
    padding: 4rem;
}

.card h4 {
    color: white;
}

.go-to-btn {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .home-index .main-content {
        padding: 0;
        padding-top: 1rem;
        padding-bottom: 4rem;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1000px) {
    .home-index .main-content {
        width: 100%;
        padding: 0;
        padding-top: 1rem;
        padding-bottom: 4rem;
        grid-template-columns: 1fr;
        gap: 0;
    }
    .home-index .card {
        margin: 0;
    }
}
