/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';
@import 'base/tags.css';
@import 'base/buttons.css';

/* Components */
@import 'cmps/app-header.css';
@import 'cmps/side-bar.css';
@import 'cmps/search-header.css';
@import 'cmps/add-note.css';
