/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';
@import 'base/tags.css';
@import 'base/buttons.css';

/* Common Components */
@import 'cmps/app-header.css';
@import 'cmps/side-bar.css';
@import 'cmps/search-header.css';
@import 'cmps/main-content.css';

/* Note Componenets */
@import 'cmps/note/add-note.css';
@import 'cmps/note/note-preview.css';
@import 'cmps/note/note-list.css';
@import 'cmps/note/note-index.css';
@import 'cmps/note/note-hovers-btns.css';
@import 'cmps/note/note-palette.css';

/* Mail  Componenets */
@import 'cmps/mail/mail-index.css';
@import 'cmps/mail/mail-compose.css';
@import 'cmps/mail/mail-preview.css';
@import 'cmps/mail/mail-filter.css';
@import 'cmps/mail/mail-list.css';
@import 'cmps/mail/mail-folder-list.css';
