:root {
  --a: 0.6;
  --a-3: 0.3;

  --clr1: #3369ff;
  --clr1-a: rgba(51, 105, 255, var(--a));
  --clr1-a-3: rgba(51, 105, 255, var(--a-3));
  --clr1-hover: #5582ff;
  --clr2: rgb(121, 129, 147);
  --clr2-a: rgb(121, 129, 147, var(--a));
  --clr2-hover: #d0d4dd;

  --clrbg: rgb(14, 18, 26);
  --clrbg-a: rgba(14, 18, 26, var(--a));
  --clrbg-sec: #99a0af;
  --clrbg-light: #171c26;
  --clrbg-light-a: rgba(23, 28, 38, var(--a));

  --clr-txt: #fff;
  --clr-txt-m: #798193;

  /* br */
  --br-l: 8px;
  --br-s: 4px;

  /* header height */
  --header-height: 64px;
  /* sidebar width */
  --sidebar-width: 280px;
}
