.mail-preview {
  /* gap: 10px; */
  display: grid;
  grid-template-columns:
    repeat(2, minmax(max-content, 60px)) 150px minmax(150px, auto) 1fr
    minmax(max-content, auto);
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  padding: 0 1em;
  line-height: 4;
  border-bottom: 1px solid var(--clr-txt-m);
}

.mail-preview > * {
  cursor: pointer;
}
.mail-preview .fa-solid.fa-star {
  color: goldenrod;
  opacity: 1 !important;
}
.mail-preview *:not(.mail-body, i) {
  font-weight: 500;
}
.mail-preview {
  background-color: var(--clrbg-light-a);
}
.mail-preview.read {
  background-color: var(--clrbg-a);
}
.mail-preview.read > * {
  font-weight: 300;
}
.mail-preview > *:not(.mail-time, :last-child) {
  margin-inline-end: 1.6em;
}
.mail-preview:hover {
  box-shadow: 0px 1px 7px -1px var(--clr-txt-m);
  z-index: 1;
}
.mail-sender {
  /* padding-inline-end: 2em; */
}
.mail-time {
  text-align: end;
  padding-inline-start: 2em;
}
.mail-body {
  margin-inline-end: auto;
  color: var(--clr-txt-m);
}
.mail-preview input[type='checkbox'] {
  position: relative;
}

.mail-preview input[type='checkbox']::before {
  content: '';
  display: block;
  position: absolute;
  text-align: center;
  height: 1rem;
  width: 1rem;
  inset: 0;
  margin: auto;
  background-color: var(--clr2);
  font-family: 'Montserrat';
  border-radius: 2px;
  transition: background-color 0.2s;
}
.mail-preview input[type='checkbox']:checked::before {
  content: '';
  display: block;
  position: absolute;
  text-align: center;
  height: 1rem;
  width: 1rem;
  inset: 0;
  margin: auto;
  background-color: var(--clr1);
  font-family: 'Montserrat';
  border-radius: 2px;
}
.mail-preview.read input[type='checkbox'],
.mail-preview.read .fa-star {
  opacity: 0.5;
}
.mail-preview.read:hover input[type='checkbox'],
.mail-preview.read:hover .fa-star {
  opacity: 1;
}
.hover-actions {
  display: none;
  min-width: max-content;
}
.mail-preview:hover .hover-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mail-preview:hover .mail-time {
  display: none;
}
.mail-preview:hover .btn-rnd-l:hover,
.mail-preview:hover .btn-rnd-s:hover {
  background-color: var(--clrbg);
}
.mail-preview.read:hover .btn-rnd-l:hover,
.mail-preview.read:hover .btn-rnd-s:hover {
  background-color: var(--clrbg-light);
}
.fullstar {
  color: var(--clr1);
}
