/* LAYOUT */
.mail-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}
.msg-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr auto;
  overflow-y: auto;
}

/* basics for container */
.mail-details {
  --avatar-size: 28px;
  margin: 2em;
  border-radius: 2em;
  overflow: hidden;
  border-radius: var(--br-l);
  background-color: var(--clrbg-light-a);
  height: calc(100vh - var(--header-height) - 4em);
  overflow-y: hidden;
}
.mail-details-header,
.mail-details-footer {
  padding: 1.5em 2em;
}
.mail-msg {
  padding: 0 2em;
}
.mail-details-nav {
  background-color: var(--clr2-a);
  padding: 0.15em 1em;
}
/* HEADER */
.mail-details-header {
  padding-left: calc(var(--avatar-size) + 3.75rem);
  margin-bottom: 0.5em;
}
.mail-subject-txt {
  font-weight: 500;
  font-size: 1.45rem;
  vertical-align: middle;
  padding-inline-end: 0.5em;
}
.mail-details-header .mail-subject {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-inline-end: 8em;
}

.mail-details-header-actions {
  padding-inline-start: 1em;
}
@media (max-width: 900px) {
  .mail-details-header {
  }
  .mail-details-header .mail-subject {
    padding: 0;
  }
}

/* .mail-details-header .mail-subject > *{} */
.user-avatar {
  font-size: var(--avatar-size);
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: var(--clr2-hover);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-inline-end: 1.75rem;
}
.user-avatar > * {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75em;
}
.mail-msg-header {
  margin-bottom: 2.8em;
}
.sender-details {
  display: grid;
  grid-template-columns: max-content 1fr;
  /* grid-template-columns: max-content; */
  /* grid-auto-flow: column; */
}
.mail-time {
  margin-inline-end: 1em;
}

/* MSG BODY */
.mail-msg {
  display: flex;
  flex-direction: column;
}
.mail-msg-body > * {
  max-width: 540px;
  margin: auto;
}
.mail-msg-body {
  padding: 0 0 2em 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.mail-footer-actions > * {
  margin-inline-end: 1em;
}
.mail-details-footer > * {
  max-width: 540px;
  margin: auto;
}
/* print content */

.ifm-content-toprint {
  height: 0;
  width: 0;
  position: absolute;
  border: 0;
}
