.mail-compose {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  z-index: 2;
}
.mail-compose .btn-mail-compose {
  z-index: 1;
}
.btn-mail-compose {
  background-color: var(--clr1);
}
.btn-mail-compose.open {
  background-color: var(--clr-txt);
  color: var(--clr1);
}
.btn-mail-compose:hover {
  background-color: var(--clr-txt);
  color: var(--clr1);
}
.compose-mail-form form > *:last-child {
  margin-bottom: 0.25em;
}
.compose-mail-form {
  opacity: 0;
  transition: 0.25s opacity 0.1s, top 0.25s;
  pointer-events: none;
}
.compose-mail-form.open {
  opacity: 1;
  pointer-events: all;
}
.compose-mail-form {
  background-color: var(--clrbg-light);
  background-color: var(--clr-txt);
  color: var(--clrbg);
  /* padding: 0em 2em 1.5em; */
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-100%, -100%);
  transform: translate(calc(-100% + 3.33em), calc(-100% +1.5em));
  min-width: 450px;
  z-index: 2;
  box-shadow: 0px 20px 30px 0px var(--clrbg-a);
  border-radius: var(--br-l);
}
.compose-mail-form-footer,
.compose-mail-form-header {
  padding: 0.4em 1em;
}
.compose-mail-form-header {
  border-radius: var(--br-l) var(--br-l) 0 0;
  background-color: var(--clr2-hover);

  color: var(--clrbg);
}
.compose-mail-form form textarea {
  padding: 0.4em 0em;
}
.compose-mail-form form input,
.compose-mail-form form textarea {
  border-radius: 0;
  background-color: var(--clr-txt);
  color: var(--clrbg);
  border-top: none;
  border: none;
  position: relative;
  /* border-bottom: 1px solid var(--clr2-hover); */
}
.field-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  width: 100%;
  position: relative;
}
.field-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr2-hover);
}

.field-wrapper > *:first-child {
  margin-inline-end: 0.5em;
}
.compose-mail-form .fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4em 1em;
}

.compose-mail-form form input:focus,
.compose-mail-form form textarea:focus {
  background-color: var(--clr-txt);
}
.compose-mail-form input:focus::-webkit-input-placeholder,
.compose-mail-form textarea:focus::-webkit-input-placeholder {
  background-color: var(--clr-txt);
  color: var(--clrbg);
}

.compose-mail-form-header .btn-rnd-l-s,
.compose-mail-form-header .btn-rnd-s {
  color: var(--clrbg);
}
.compose-mail-form-header .btn-rnd-l-s:hover,
.compose-mail-form-header .btn-rnd-s:hover {
  background-color: var(--clr2-a);
}
.compose-mail-form-footer .btn-rnd-l-s {
  color: var(--clrbg-a);
}
.compose-mail-form-footer .btn-rnd-l-s:hover,
.compose-mail-form-footer .btn-rnd-s:hover {
  /* color: var(--clr-txt); */
  background-color: var(--clr2-hover);
}
