.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr max-content;
  grid-template-areas:
    'header'
    'main'
    'sidebar ';
}
.side-bar {
  grid-area: sidebar;
}
.app-header {
  grid-area: header;
}
.main-content {
  overflow-x: hidden;
  grid-area: main;
}

.overflow-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height) - 3em);
}

@media (min-width: 550px) {
  .app {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas:
      'header header'
      'sidebar main';
  }
  .side-bar {
    grid-area: sidebar;
    min-height: calc(100vh - var(--header-height));
  }
  .app-header {
    grid-area: header;
  }
  .main-content {
    overflow-x: hidden;
    grid-area: main;
  }
}
