.app {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
}
.side-bar {
    grid-area: sidebar;
    min-height: calc(100vh - var(--header-height));
}
.app-header {
    grid-area: header;
}
.main-content {
  overflow-x: hidden;
  grid-area: main;
}
