.add-note {
    border-radius: var(--br-l);
    border: 1px solid var(--clr-txt-m);
    outline: none;
    color: var(--clr-txt);
    background-color: var(--clrbg-light);
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.add-note :is(input, textarea) {
    outline: none;
    border: none;
    padding: 0.65em 2em;
    resize: none;
    height: auto;
}
.add-note :is(input, textarea):hover {
    border-radius: var(--br-l);
    outline: none;
    color: var(--clr-txt);
    background-color: var(--clrbg-light);
}
.add-note :is(input, textarea):focus {
    color: var(--clr-txt);
    border-radius: var(--br-l);
    outline: none;
    color: var(--clr-txt);
    background-color: var(--clrbg-light);
}

:is(input, textarea)::-webkit-input-placeholder {
    color: var(--clr-txt-m);
}
:is(input, textarea):focus::-webkit-input-placeholder {
    transition: background-color 0.5s 0.05s, color 0.25s 0.25s;
    color: var(--clr-txt);
}

.add-note button {
    display: inline-block;
}

.add-note .utils {
    padding: 0 1.4rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.add-note .utils > * {
    margin: 0 0.2rem;
}

.add-note .inline-utils {
    display: flex;
}
.add-note .inline-utils > * {
    margin: 0.4rem;
}
.main-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
