/* .note-preview {
    background-color: var(--clrbg-light-a);
    background: rgb(14, 18, 26);
    background: radial-gradient(circle, rgba(14, 18, 26, 0.664) 22%, rgba(23, 28, 38, 0.788) 100%);
    backdrop-filter: blur(14px);
    box-shadow: 0px 30px 20px -20px var(--clrbg-light-a);
    border: 1px solid var(--clrbg-light);
    border-radius: var(--br-l);
    padding: 0.6em 1.9em 1.3em;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    min-height: 100px;
} */
.note-preview {
    background-color: var(--clrbg-light-a);
    background: rgb(14, 18, 26);
    background: radial-gradient(circle, rgba(14, 18, 26, 0.664) 22%, rgba(23, 28, 38, 0.788) 100%);
    backdrop-filter: blur(14px);
    box-shadow: 0px 30px 20px -20px var(--clrbg-light-a);
    border: 1px solid var(--clrbg-light);
    border-radius: var(--br-l);
    padding: 0.6em 1.9em 1.3em;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    width: 100%;
    min-height: 100px;
}

.add-note-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.add-note-modal > * {
    width: 600px;
}

.dark-overlay {
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
