.note-palette {
    position: absolute;
    top: 90%;
    background: var(--clr-txt-m);
    border: var(--br-l);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    padding: 0.35em;
    transform: translateY(-50%);
    transition: opacity 0.3s, top 0.3s;
}
.note-palette.open {
    opacity: 1;
    pointer-events: all;
    top: 100%;
}
.note-palette button {
    padding: 0;
    margin: 0em 0.35rem;
    width: 22px;
    height: 22px;
}

.note-palette button:nth-child(1) {
    background: #3269ff;
}
.note-palette button:nth-child(2) {
    background: #8cc40f;
}
.note-palette button:nth-child(3) {
    background: #0e121a;
}
.note-palette button:nth-child(4) {
    background: #ae3b76;
}
.note-palette button:nth-child(5) {
    background: #fe7745;
}
.note-palette button:nth-child(6) {
    background: #b82af3;
}
