.note-list {
    columns: 6;
    column-gap: 1rem;
}

.note-lists {
    padding: 5rem;
}
.note-lists .list-title {
    text-transform: uppercase;
    position: relative;
    left: 1%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1730px) {
    .note-list {
        columns: 4;
    }
}
@media screen and (max-width: 1440px) {
    .note-list {
        columns: 3;
    }
}
@media screen and (max-width: 1200px) {
    .note-list {
        padding: 3rem;
        columns: 2;
    }
}
