.note-list {
    padding: 5rem;
    columns: 6;
    column-gap: 1rem;
}

@media screen and (max-width: 1730px) {
    .note-list {
        columns: 4;
    }
}
@media screen and (max-width: 1440px) {
    .note-list {
        columns: 3;
    }
}
@media screen and (max-width: 1200px) {
    .note-list {
        padding: 3rem;
        columns: 2;
    }
}
