.hovers {
}

.hover-utils {
    position: absolute;
    bottom: 2%;
    left: 0%;
    width: 100%;
}
.hover-utils button {
    margin: 0 0.35rem;
}
.note-preview .pin {
    position: absolute;
    top: 3%;
    right: 3%;
}

.note-preview .select {
    position: absolute;
    top: -12%;
    left: -6%;
    background: var(--clr1);
    border-radius: 50%;
}
