.note-index {
    /* max-width: calc(100vw); */
    padding: 2em;
}
.note-index::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 550px) {
    .note-index {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
