.hovers {
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 0.3s;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.note-preview:hover .hovers {
    /* visibility: visible; */
    opacity: 1;
}

.hover-utils {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 1em;
}
.hover-utils button {
}
.note-preview .pin {
    position: absolute;
    top: 3%;
    right: 3%;
}

.note-preview .select {
    position: absolute;
    top: -12%;
    left: -6%;
    background: var(--clr1);
    border-radius: 50%;
}
