.note-palette {
    position: absolute;
    top: 100%;
    background: var(--clr-txt-m);
    border: var(--br-l);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-palette button {
    padding: 0;
    margin: 0 0.35rem;
}

.note-palette button:nth-child(1) {
    background: #3269ff;
}
.note-palette button:nth-child(2) {
    background: #ffd947;
}
.note-palette button:nth-child(3) {
    background: #ffffff;
}
.note-palette button:nth-child(4) {
    background: #ae3b76;
}
.note-palette button:nth-child(5) {
    background: #0beaaf;
}
.note-palette button:nth-child(6) {
    background: #fe7746;
}
.note-palette button:nth-child(6) {
    background: #0e121a;
}
