.todo-input-list {
    width: 100%;
}

.todo-input-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
    width: 100%;
    border-radius: 0px;
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
}
.todo-input {
    padding: 0 !important;
    margin: 0;
}

.todo-input-wrapper:last-of-type {
    margin-bottom: 1rem;
}
.todo-input-wrapper input[type='checkbox'] {
    background: black;
    /* width: 10px; */
    width: 5%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
